body{
    font-family: 'Barlow', sans-serif;
    font-family: 'Poppins', sans-serif;
    width: 70%;
    
}
h1{
    font-size: 40px;
    border-left: solid;
    border-color: blue;
}
/*.Mission-of-2022{
    color:rgb(19, 71, 167);
}*/
section{
    display: flex;
}

.div-width{
    width: 70%;
    padding-left: 10%;
    margin-left: 5%;
  }
.div-width img{
    width: 70%;    
}
p{
    margin-bottom: 20PX;
}
.explore-now-button{
    text-decoration: none;
    background-image: linear-gradient(blue, rgb(214, 209, 238));    
    padding: 10px 30px;
    color: white;
    font-weight: 900px;
    border-radius: 5px;
}
h5{
    margin-top: 50PX;
    margin-bottom: 70px;
}
.h2{
    text-align: center;
}
.container{
    width: 70%;
    padding-left: 10%;
    margin-left: 5%;
    margin-bottom: 100px;
}
.box-image{
    width: 100%;
}
.box-1{
    width: 25%;
    float: left;
    margin: 10px;
    background-color: rgb(147, 170, 214);
    text-align: left;
    padding: 15px;
    
}
.box-2{
    width: 25%;
    float: left;
    margin: 10px;
    background-color:rgb(218, 148, 183);
    text-align: left;
    padding: 15px;
}
.box-3{
    width: 25%;
    float: left;
    margin: 10px;
    background-color:rgb(219, 172, 154);
    text-align: left;
    padding: 15px;
    }
.corona-text-color{
    color: orangered;

}
.readthedocumenation-button{
    text-decoration: none;
    background-image: linear-gradient(blue, rgb(214, 209, 238));    
    padding: 10px 30px;
    color: white;
    font-weight: 900px;
    border-radius: 5px;
    margin-bottom: 500px;
}
.app-features-buton{
    text-decoration: none;
    background-image: linear-gradient(blue, rgb(214, 209, 238));    
    padding: 10px 30px;
    color: white;
    font-weight: 900px;
    border-radius: 5px;
}